<a href="https://colab.research.google.com/github/Ameesha2214/France_CO2_EMISSION_PREDICTION/blob/main/France_CO2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("OECD.SDD.NAD.SEEA,DSD_AEA@DF_AEA,1.0+FRA.A..T_CO2E...CO2... (1).csv")

In [4]:
print(df.head())
print(df.describe())
print(df.info())
print(df.columns)

  STRUCTURE                           STRUCTURE_ID          STRUCTURE_NAME  \
0  DATAFLOW  OECD.SDD.NAD.SEEA:DSD_AEA@DF_AEA(1.0)  Air Emissions Accounts
1  DATAFLOW  OECD.SDD.NAD.SEEA:DSD_AEA@DF_AEA(1.0)  Air Emissions Accounts
2  DATAFLOW  OECD.SDD.NAD.SEEA:DSD_AEA@DF_AEA(1.0)  Air Emissions Accounts
3  DATAFLOW  OECD.SDD.NAD.SEEA:DSD_AEA@DF_AEA(1.0)  Air Emissions Accounts
4  DATAFLOW  OECD.SDD.NAD.SEEA:DSD_AEA@DF_AEA(1.0)  Air Emissions Accounts

  ACTION REF_AREA Reference area FREQ Frequency of observation    MEASURE  \
0      I      FRA         France    A                   Annual  EMISSIONS
1      I      FRA         France    A                   Annual  EMISSIONS
2      I      FRA         France    A                   Annual  EMISSIONS
3      I      FRA         France    A                   Annual  EMISSIONS
4      I      FRA         France    A                   Annual  EMISSIONS

     Measure  ... TIME_PERIOD Time period  OBS_VALUE Observation value  \
0  Emissions  ...        2008         NaN  221676.37               NaN
1  Emissions  ...        2009         NaN  228313.83               NaN
2  Emissions  ...        2010         NaN  232544.48               NaN
3  Emissions  ...        2011         NaN  208262.84               NaN
4  Emissions  ...        2012         NaN  208799.19               NaN

  OBS_STATUS Observation status UNIT_MULT Unit multiplier DECIMALS Decimals
0        NaN                NaN       NaN             NaN        0     Zero
1        NaN                NaN       NaN             NaN        0     Zero
2        NaN                NaN       NaN             NaN        0     Zero
3        NaN                NaN       NaN             NaN        0     Zero
4        NaN                NaN       NaN             NaN        0     Zero

[5 rows x 34 columns]
       TIME_PERIOD  Time period     OBS_VALUE  Observation value  UNIT_MULT  \
count  1394.000000          0.0  1.394000e+03                0.0        0.0
mean   2014.994978          NaN  1.952120e+07                NaN        NaN
std       4.319522          NaN  6.085519e+07                NaN        NaN
min    2008.000000          NaN -3.128347e+06                NaN        NaN
25%    2011.000000          NaN  3.977096e+05                NaN        NaN
50%    2015.000000          NaN  1.210149e+06                NaN        NaN
75%    2019.000000          NaN  1.037415e+07                NaN        NaN
max    2022.000000          NaN  4.416459e+08                NaN        NaN

       Unit multiplier  DECIMALS
count              0.0    1394.0
mean               NaN       0.0
std                NaN       0.0
min                NaN       0.0
25%                NaN       0.0
50%                NaN       0.0
75%                NaN       0.0
max                NaN       0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 1394 non-null   object
 1   STRUCTURE_ID              1394 non-null   object
 2   STRUCTURE_NAME            1394 non-null   object
 3   ACTION                    1394 non-null   object
 4   REF_AREA                  1394 non-null   object
 5   Reference area            1394 non-null   object
 6   FREQ                      1394 non-null   object
 7   Frequency of observation  1394 non-null   object
 8   MEASURE                   1394 non-null   object
 9   Measure                   1394 non-null   object
 10  UNIT_MEASURE              1394 non-null   object
 11  Unit of measure           1394 non-null   object
 12  ADJUSTMENT                1394 non-null   object
 13  Adjustment                1394 non-null   object
 14  ACTIVITY                  1394 non-null   object
 15  Economic activity         1394 non-null   object
 16  POLLUTANT                 1394 non-null   object
 17  Pollutants                1394 non-null   object
 18  ACTIVITY_SCOPE            1394 non-null   object
 19  Activity scope            1394 non-null   object
 20  METHODOLOGY               1394 non-null   object
 21  Methodology               1394 non-null   object
 22  SOURCE                    1394 non-null   object
 23  Source                    1394 non-null   object
 24  TIME_PERIOD               1394 non-null   int64
 25  Time period               0 non-null      float64
 26  OBS_VALUE                 1394 non-null   float64
 27  Observation value         0 non-null      float64
 28  OBS_STATUS                91 non-null     object
 29  Observation status        91 non-null     object
 30  UNIT_MULT                 0 non-null      float64
 31  Unit multiplier           0 non-null      float64
 32  DECIMALS                  1394 non-null   int64
 33  Decimals                  1394 non-null   object
dtypes: float64(5), int64(2), object(27)
memory usage: 370.4+ KB
None
Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'ADJUSTMENT',
       'Adjustment', 'ACTIVITY', 'Economic activity', 'POLLUTANT',
       'Pollutants', 'ACTIVITY_SCOPE', 'Activity scope', 'METHODOLOGY',
       'Methodology', 'SOURCE', 'Source', 'TIME_PERIOD', 'Time period',
       'OBS_VALUE', 'Observation value', 'OBS_STATUS', 'Observation status',
       'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals'],
      dtype='object')

In [5]:
print(df.isnull().sum())

STRUCTURE                      0
STRUCTURE_ID                   0
STRUCTURE_NAME                 0
ACTION                         0
REF_AREA                       0
Reference area                 0
FREQ                           0
Frequency of observation       0
MEASURE                        0
Measure                        0
UNIT_MEASURE                   0
Unit of measure                0
ADJUSTMENT                     0
Adjustment                     0
ACTIVITY                       0
Economic activity              0
POLLUTANT                      0
Pollutants                     0
ACTIVITY_SCOPE                 0
Activity scope                 0
METHODOLOGY                    0
Methodology                    0
SOURCE                         0
Source                         0
TIME_PERIOD                    0
Time period                 1394
OBS_VALUE                      0
Observation value           1394
OBS_STATUS                  1303
Observation status          1303
UNIT_MULT                   1394
Unit multiplier             1394
DECIMALS                       0
Decimals                       0
dtype: int64